:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1f1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@font-face {
  font-family: 'MontRegular';
  src: local('MontRegular'), url('../fonts/Mont-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'MontBold';
  src: local('MontBold'), url('../fonts/Mont-Bold.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'MontItalic';
  src: local('MontItalic'), url('../fonts/Mont-RegularItalic.otf') format('opentype');
  font-weight: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
}

#root {
  height: 100%;
  width: 100%;
  background-color: #000000;
}

.main {
  width: 100%;
  height: 100%;
}
